.pytest_cache/
.vscode/
.idea/
.git/
ecommerce/__pycache__/
ecommerce/settings/__pycache__/
core/__pycache__/
core/migrations/__pycache__/
core/tests/__pycache__/
users/__pycache__/
users/tests/__pycache__/
users/migrations/__pycache__/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml

# Environments
.env
venv/